<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
        <h3>Enquiry received. Details below: </h3>
        <p>
            Firstname - <%= @enquiry.firstname %>
        </p>
        <p>
            Lastname - <%= @enquiry.lastname %>
        </p>
        <p>
            Phone Number - <%= @enquiry.phone_number %>
        </p>
        <p>
            Email - <%= @enquiry.email %>
        </p>
        <p>
            Message - <%= @enquiry.message %>
        </p>
    </div>
  </body>
</html> 